body {
  margin: 0;
  font-family: 'Montserrat', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  @media (min-width: 1200px) {
    max-width:1110px;
  }
}

header {
  & + .container {
    margin-top: calc(64px + 28px);
  }
}

.wrapper {
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 30px;
}

.light-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 17.5px;
  height: 17.5px;
  padding: 1px;
  font-size: 15px;
  color: $white;
  border-radius: 50%;
  background: $primary;
}

.icon-2 {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none!important;

  &.active {
    color: #FFA542;
  }
}